<!DOCTYPE html>
<html>
<body>
<h3>MAPPO Training Dashboard</h3>
<button onclick="start()">Start Training</button>

<pre id="log"></pre>

<script>
function start() {
    fetch("/start/");
}

const logBox = document.getElementById("log");

const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
const ws = new WebSocket(wss_protocol + window.location.host + "/ws/train/");

ws.onmessage = (event) => {
    const data = JSON.parse(event.data);
    logBox.textContent += `Epoch ${data.epoch} | loss=${data.loss} | reward=${data.reward}\n`;
};
</script>

</body>
</html>
